body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: #2f4f4f;
}
header {
    margin-bottom: 2.5px;
    padding: 20px;
    background-color: #00bfff;
    border-width: 6px;
    border-color: #fffff0;
    border-style: double
}
header > h1, h4 {
    text-align: center;
}
.navigation {
    margin-top: 2.5px;
    margin-bottom: 5px;
}
ul.navigation {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #2f4f4f;
}
li.navlist {
    float: left;
}
li.navlist a {
    display: block;
    color: #fffff0;
    text-align: center;
    text-size-adjust: double;
    padding: 10px 140.5px;
    text-decoration: none;
}
/* Change the link black on hover */
li.navlist a:hover {
    background-color: #000000;
}
/*Layout Styles*/
.container {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
[class*='col-'] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
/* Media Query excludes extra small devices and includes small and above */
@media (min-width: 48em) {
    [class*='col-'] {
        float: left;
    }
    /* Column First-Half */
    .col-1-2 {
        width: 50%;
    }
    /* Column Second-Half */
    .col-2-2 {
        width: 50%;
    }
}
@media (min-width: 48em) {
    .pull-right-sm {
        float:right;
    }
}
@media only screen and (max-width : 47.9375em) {
    .remove-gutter-xs {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.carousel-inner {
    text-align: center;
}
.carousel .item > img {
    display: inline-block;
}
#summarytitle {
    background-color: #fffff0;
}
#summary {
    background-color: #fffff0;
}
#educationtitle {
    background-color: #fffff0;
}
.education {
    background-color: #fffff0;
}
.contactform {
    margin-top: 2.5px;
    border-style: double;
    border-color: #2f4f4f
}
.formpage {
    text-align: center;
    font-size: 20px;
}