.workexperience {
    margin-top: 2.5px;
    padding: 15px;
    border-style: double;
    border-color: #2f4f4f
}
.worktitle {
    text-align: center;
}
.workdescription {
    padding-left: 50px;
    padding-right: 50px;
}
.worklist {
    padding-left: 100px;
    padding-right: 100px;
}